@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


.inter-tight-font{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header area style */
header{
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    background-color: rgb(17, 17, 17);
}
header h1{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.4rem;
}
nav{

}
nav ul{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
nav ul li{
    list-style: none;
    margin-left: 6rem;
}
ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    text-transform: capitalize;
}
ul li a:hover{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 25px;
    padding: 8px 20px;
}
/* banner area style */

